.emailRow {
  display: flex;
  text-overflow: ellipsis;
  align-items: center;
  height: 45px;
  border-bottom: 2px solid whitesmoke;
  cursor: pointer;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.902);
}

.emailRow:hover {
  border-top: 1px solid whitesmoke;
  background-color: #c2dbff;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRow__options {
  display: flex;
}

.emailRow__message {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
}

.emailRow__message > h4 {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.emailRow__message > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.emailRow__title {
  font-size: 15px;
  flex: 0.3;
}

.emailRow__time {
  font-size: 9px;
  font-weight: bold;
  padding-right: 10px;
}

.emailRow__description {
  color: gray;
  font-weight: 400;
}
